
h1{
    color: black;
    font-size:30px;
    font-family: sansserif;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration: none;
    text-transform: uppercase;
    /*uppercase <> lowercase*/
    text-transform: capitalize;



}
h2{
    color: black;
    font-family: SansSerif;
    font-size: 30px;
    list-style-type: disc;
}
h3{
    color: black;
    font-family: SansSerif;
    font-size: 30px;

}
h4{
    color: black;
    font-family: SansSerif;
    font-size: 30px;
    font-style: italic;
}
