*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Bookman Old Style";
    font-size: 14px;
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.top{
    background-color: #383838;
    color: #ffffff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: center;
}
.header{
    width: 100%;
    height: 130px;
    background-color: #ffffff;
}
.header .movic{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    line-height: 130px;
}
.header .movic a{
    color: black;
    text-decoration: none;

}
.header .menu ul li{
    color: #000000;
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    text-indent: 10px;
    list-style: none;
    margin-top: 50px;

}
.header .menu ul li a{
    color: black;
}
.header .menu ul li:hover{
    background-color: darkgray;
    color: #333333;
    width: auto;
    height: 30px;
    line-height: 30px;


}
.header .menu ul li a:hover{
    text-decoration: none;
}
.tools li{
    list-style: none;
    float: right;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 32px;
}
.tools li a{
    color: black;
}
.header .menu ul li home:hover{
    background-color: darkgray;
    color: #333333;
    width: auto;
    height: 30px;
    line-height: 30px;
}
